<!--<div class="row">
    <div class="col">
        <app-add-users></app-add-users>
    </div>
    <div class="col">
        <app-list-users></app-list-users>
    </div>
</div>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
             <app-movie-selected></app-movie-selected>    
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <app-list-movies></app-list-movies>
        </div>
    </div>
</div>